@import "variables.less";
@import "elements.less";


/* ===========
   Core file List

   - Timeline
   - Timeline-2
   - Sweet Alerts
   - Notification
   - Nestable list
   - Maps
   - Email
   - Form Advanced
   - Charts
   - Maintenance
   - Countdown
   - Gallery
 =============*/


/* ===========
  Timeline
 =============*/

.timeline {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	margin-bottom: 50px;
	position: relative;
	table-layout: fixed;
	width: 100%;

	.time-show {
		margin-bottom: 30px;
		margin-right: -75px;
		margin-top: 30px;
		position: relative;
		a {
			color: @white;
		}
	}
	&:before {
		background-color: #d8d9df;
		bottom: 0px;
		content: "";
		left: 50%;
		position: absolute;
		top: 30px;
		width: 1px;
		z-index: 0;
	}
	.timeline-icon {
		-webkit-border-radius: 50%;
		background: #d8d9df;
		border-radius: 50%;
		border: 1px solid #d8d9df;
		color: @white;
		display: block;
		height: 20px;
		left: -54px;
		margin-top: -10px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 20px;
		i {
			margin-top: 9px;
		}
	}
	.time-icon {
		&:before {
			font-size: 16px;
			margin-top: 5px;
		}
	}

}
h3.timeline-title {
	color: #c8ccd7;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.timeline-item {
	display: table-row;
	&:before {
		content: "";
		display: block;
		width: 50%;
	}
	.timeline-desk {
		.arrow {
			border-bottom: 8px solid transparent;
			border-right: 8px solid @white !important;
			border-top: 8px solid transparent;
			display: block;
			height: 0;
			left: -7px;
			margin-top: -10px;
			position: absolute;
			top: 50%;
			width: 0;
		}
	}
}
.timeline-item.alt {
	&:after {
		content: "";
		display: block;
		width: 50%;
	}
	.timeline-desk {
		.arrow-alt {
			border-bottom: 8px solid transparent;
			border-left: 8px solid @white !important;
			border-top: 8px solid transparent;
			display: block;
			height: 0;
			left: auto;
			margin-top: -10px;
			position: absolute;
			right: -7px;
			top: 50%;
			width: 0;
		}
		.album {
			float: right;
			margin-top: 20px;
			a {
				float: right;
				margin-left: 5px;
			}
		}
	}
	.timeline-icon {
		left: auto;
		right: -56px;
	}
	&:before {
		display: none;
	}
	.panel {
		margin-left: 0;
		margin-right: 45px;
      .panel-body p + p {
        margin-top: 10px !important;
      }
	}
	h4 {
		text-align: right;
	}
	p {
		text-align: right;
	}
  .timeline-date {
      text-align: right;
	}
}
.timeline-desk {
	display: table-cell;
	vertical-align: top;
	width: 50%;
	h4 {
		font-size: 16px;
		font-weight: 300;
		margin: 0;
	}
	.panel {
		background: @white;
		display: block;
		margin-bottom: 5px;
		margin-left: 45px;
		position: relative;
		text-align: left;
	}
	h5 {
		span {
			color: @lightdark7;
			display: block;
			font-size: 12px;
			margin-bottom: 4px;
		}
	}
	p {
		color: #999999;
		font-size: 14px;
		margin-bottom: 0;
	}
	.album {
		margin-top: 12px;
		a {
			float: left;
			margin-right: 5px;
		}

      img {
        height: 36px;
        width: auto;
        .border-radius(3px);
      }
	}
	.notification {
		background: none repeat scroll 0 0 @white;
		margin-top: 20px;
		padding: 8px;
	}
}

/* ===========
   Timeline-2
 =============*/
.timeline-2 {
  border-left: 2px solid @primary;
  position: relative;
  .time-item {
    &:after {
      background-color: @white;
      border-color: @primary;
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      bottom: 0;
      content: '';
      height: 10px;
      left: 0;
      margin-left: -6px;
      position: absolute;
      top: 5px;
      width: 10px;
    }
  }
}

.time-item {
  border-color: #dee5e7;
  padding-bottom: 10px;
  position: relative;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    background-color: @white;
    border-color: @primary;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px;
  }
}

.time-item-item {
  &:after {
    content: " ";
    display: table;
  }
}

.item-info {
  margin-bottom: 15px;
  margin-left: 15px;
  p {
    font-size: 13px;
  }
}


/* ===========
  Sweet Alert
 =============*/

.sweet-alert p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
button.confirm {
  background-color: @primary !important;
  box-shadow: none !important;
}

/* =============
   Notification
============= */
.notifyjs-metro-base {
  position: relative;
  min-height: 52px;
  min-width: 250px;
  color: #444;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-animation: dropdownOpen 0.3s ease-out;
  -o-animation: dropdownOpen 0.3s ease-out;
  animation: dropdownOpen 0.3s ease-out;
}
.notifyjs-metro-base .image {
  display: table;
  position: absolute;
  height: auto;
  width: auto;
  left: 25px;
  top: 50%;
  font-size: 24px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notifyjs-metro-base .text-wrapper {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 10px 10px 10px 52px;
  clear: both;
}
.notifyjs-metro-base .title {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}
.notifyjs-metro-base .text {
  font-size: 12px;
  font-weight: normal;
  max-width: 360px;
  vertical-align: middle;
}
.notifyjs-metro-cool {
  color: #fafafa !important;
  background-color: #4A525F;
  border: 1px solid #4A525F;
}


/* =============
   Nestable
============= */

.custom-dd {
  .dd-list {
    .dd-item {
      .dd-handle {
        background: fade(@muted, 25%) !important;
        border: none;
        padding: 8px 16px;
        height: auto;
        font-weight: 600;
        .border-radius(3px);

        &:hover {
          color: @primary;
        }
      }

      button {
        height: auto;
        font-size: 17px;
        margin: 8px auto;
        color: @lightdark5;
        width: 30px;
      }
    }
  }
}

.custom-dd-empty {
  .dd-list {
    .dd3-handle {
      border: none;
      background:  fade(@muted, 25%) !important;
      height: 36px;
      width: 36px;

      &:before {
        color: inherit;
        top: 7px;
      }

      &:hover {
        color: @primary;
      }
    }
    .dd3-content {
      height: auto;
      border: none;
      padding: 8px 16px 8px 46px;
      background:  fade(@muted, 25%) !important;
      font-weight: 600;

      &:hover {
        color: @primary;
      }
    }
    button {
      width: 26px;
      height: 26px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}


/* ===========
  Maps
 =============*/

.gmaps, .gmaps-panaroma {
  height: 300px;
  background: @light;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: @white;
  font-size: 16px;
  line-height: 40px;
  background: @primary;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid @primary;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid @primary;
}

/* =============
   Email
============= */


.mails {
  a {
    color: @lightdark7;
  }

  td {
    vertical-align: middle !important;
    position: relative;
    border-top: 1px solid #F5F5F5 !important;

    &:last-of-type {
      width: 100px;
      padding-right: 20px;
    }
  }

  tr {
    &:hover {
      .text-white {
        display: none;
      }
    }
  }

  .mail-select {
    padding: 12px 20px;
    min-width: 134px;
  }
  .checkbox {
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align: middle;
    display: inline-block;
    height: 17px;

    label {
      min-height: 16px;
    }
  }
}

.mail-list {

  .list-group-item {
     background-color: transparent;

     &:hover {
       background-color: @light;
     }
     &:focus {
       background-color: @light;
     }
  }
  .list-group-item.active{
    background-color: @light;
    color: @inverse;
    font-weight: 600;
    .border-radius(3px);
  }
}

.unread {
  a{
    font-weight: 600;
    color: @lightdark4;
  }
}


/* =============
   Form Advanced
============= */

.bootstrap-tagsinput {
  box-shadow: none;
  padding: 3px 7px 6px;
  border: 1px solid #e3e3e3;

  .label-info {
    background-color: @primary !important;
    display: inline-block;
    padding: 5px;
  }
}
/* Multiple */
.ms-container {
  background: transparent url('../images/multiple-arrow.png') no-repeat 50% 50%;

  .ms-list {
    box-shadow: none;
    border: 1px solid #e3e3e3;
  }
  .ms-list.ms-focus {
    box-shadow: none;
    border: 1px solid #aaaaaa;
  }
  .ms-selectable {
    li.ms-elem-selectable{
      border: none;
      padding: 5px 10px;
    }
  }
  .ms-selection {
    li.ms-elem-selection{
      border: none;
      padding: 5px 10px;
    }
  }
}
.select2-container {
  .select2-choice {
    background-image: none !important;
    border: none !important;
    height: auto  !important;
    padding: 0px !important;
    line-height: 22px !important;
    background-color: transparent !important;
    box-shadow: none !important;

    .select2-arrow {
      background-image: none !important;
      background: transparent;
      border: none;
      width: 14px;
      top: -2px;
    }
  }
  .select2-container-multi.form-control {
    height: auto;
  }
}
.select2-results .select2-highlighted {
  color: #ffffff;
  background-color: @primary;
}
.select2-drop-active {
  border: 1px solid #e3e3e3 !important;
  padding-top: 5px;
  .box-shadow( 0 2px 2px rgba(0, 0, 0, .15));
}
.select2-search {
  input{
    border: 1px solid #e3e3e3;
  }
}
.select2-container-multi {
  width: 100%;

  .select2-choices {
    border: 1px solid #E3E3E3  !important;
    box-shadow: none !important;
    background-image: none  !important;
    .border-radius(4px)  !important;
    min-height: 38px;

    .select2-search-choice {
      padding: 4px 7px 4px 18px;
      margin: 5px 0 3px 5px;
      color: #555555;
      background: #f5f5f5;
      border-color: #e5e5e5;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .select2-search-field {
      input {
        padding: 7px 7px 7px 10px;
        font-family: inherit;
      }
    }
  }
}

/* Wysiwig */
.mce-content-body p {
  color: #9398a0;
  font-size: 14px;
  font-weight: 300;
}
.mce-popover .mce-arrow:after {
  border-bottom-color: red;
}
.mce-popover .mce-colorbutton-grid {
  margin: 0px;
  border: 1px solid #d7dce5 !important;
  padding: 4px;
}
.mce-reset .mce-window-head {
  border-bottom: 1px solid #d7dce5;
}
.mce-reset .mce-window-head .mce-title {
  color: #707780;
  font-size: 16px;
  font-weight: 400;
}
.mce-reset .mce-textbox {
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  border-color: #d7dce5;
  height: 30px;
  font-weight: 300;
  line-height: 30px;
  color: #aaaaaa;
  font-size: 14px;
}
.mce-reset .mce-textbox:focus {
  box-shadow: none;
  border-color: @primary;
}
.mce-reset .mce-checkbox .mce-ico {
  background-image: none;
  background-color: @white;
  border-radius: 0px;
  border: 1px solid #d7dce5;
}
.mce-reset .mce-checkbox .mce-label {
  color: #707780;
  font-size: 12px;
  font-weight: 400;
}
.mce-container {
  border-radius: 0px !important;
  border-width: 0px !important;
}
.mce-container .mce-menubar {
  background-color: #f2f4f7 !important;
  border: 1px solid #d7dce5 !important;
  padding: 2px;
}
.mce-container .mce-menubar .mce-btn button span {
  color: #707780;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.mce-container .mce-menubar .mce-btn button .mce-caret {
  border-top-color: #707780;
}
.mce-container .mce-menubar .mce-btn button:hover {
  background-color: #e8ebf1;
}
.mce-container .mce-menubar .mce-btn.mce-active button {
  background-color: #e8ebf1;
}
.mce-container .mce-btn {
  background-color: #d7dce5;
  background-image: none;
  outline: 0;
  border: 0px;
  border-radius: 0px;
}
.mce-container .mce-btn button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-shadow: none;
}
.mce-container .mce-btn:hover {
  background-color: #b8c1d1;
  background-image: none;
}
.mce-container .mce-primary {
  background-color: @primary;
  background-image: none;
  outline: 0;
  border: 0px;
  border-radius: 0px;
}
.mce-container .mce-primary button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-shadow: none;
}
.mce-container .mce-primary:hover {
  background-color: #0c7cd5;
  background-image: none;
}
.mce-container .mce-toolbar-grp {
  background-color: #f2f4f7 !important;
  border: 1px solid #d7dce5 !important;
  border-top-width: 0px !important;
  padding: 6px;
}
.mce-container .mce-edit-area {
  border: 1px solid #d7dce5 !important;
  border-width: 0px 1px !important;
}
.mce-container .mce-statusbar {
  background-color: #f2f4f7 !important;
  border: 1px solid #d7dce5 !important;
}
.mce-container .mce-statusbar .mce-path .mce-path-item {
  color: #707780;
  font-size: 14px;
  font-weight: 400;
}
.mce-container .mce-widget {
  color: #9398a0;
  font-size: 14px;
  font-weight: 400;
  border-left: 1px solid transparent;
}
.mce-container .mce-btn-group {
  border: 1px solid #e9ecf2 !important;
}
.mce-container .mce-btn-group .mce-btn {
  box-shadow: none;
  background-image: none;
  background-color: @white;
  border-width: 0px;
  border-radius: 0px !important;
}
.mce-container .mce-btn-group .mce-btn:hover,
.mce-container .mce-btn-group .mce-btn:focus {
  box-shadow: none;
  background-image: none;
  background-color: @white;
}
.mce-container .mce-btn-group .mce-btn button span {
  color: #707780;
  font-size: 14px;
  font-weight: 300;
}
.mce-container .mce-btn-group .mce-btn button .mce-caret {
  color: #707780;
  font-size: 14px;
}
.mce-container .mce-ico {
  color: #707780;
  font-size: 14px;
}
.mce-container .mce-panel {
  background-image: none;
}
.mce-container.mce-menu {
  border: 1px solid #d7dce5 !important;
}
.mce-container.mce-menu .mce-menu-item {
  background-image: none;
}
.mce-container.mce-menu .mce-menu-item .mce-ico {
  color: @primary;
  font-size: 14px;
}
.mce-container.mce-menu .mce-menu-item .mce-text {
  color: #707780;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.mce-container.mce-menu .mce-menu-item .mce-menu-shortcut {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
}
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item.mce-selected {
  background-color: @primary;
}
.mce-container.mce-menu .mce-menu-item:hover .mce-ico,
.mce-container.mce-menu .mce-menu-item:focus .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-selected .mce-ico,
.mce-container.mce-menu .mce-menu-item:hover .mce-text,
.mce-container.mce-menu .mce-menu-item:focus .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-selected .mce-text,
.mce-container.mce-menu .mce-menu-item:hover .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item:focus .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item.mce-selected .mce-menu-shortcut {
  color: @white;
}
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-menu-shortcut {
  color: #aaaaaa;
}
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected {
  background-color: #d7dce5;
}
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-menu-shortcut {
  color: @white;
}
.mce-container.mce-menu .mce-menu-item-sep {
  background-color: #d7dce5;
}
.mce-container.mce-menu .mce-menu-item-sep:hover {
  background-color: #d7dce5;
}
.mce-menubtn button {
    color: @lightdark7 !important;
}
.mce-menu-item-normal.mce-active {
    background-color: @primary !important;

    .mce-text {
      color: @white !important;
    }
}


/* =============
   Charts
============= */

.morris-hover.morris-default-style {
    border-radius: 5px;
    padding: 10px 12px;
    background: #36404a;
    border: none;
    color: @white !important;

}
.chart-detail-list {
  li {
    margin: 0px 10px;

    h5{
      font-size: 15px;
    }
  }
}

.pieLabel {
  div {
    font-size: 14px !important;
  }
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px;
}

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-weight: 600;
  font-size: 18px;
  color: @lightdark7;

  &:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
}

/* Flot chart */
#flotTip {
  padding: 8px 12px;
  background-color: #36404a;
  z-index: 100;
  color: #ffffff;
  opacity: 0.9;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.legend {
  tr {
   height: 20px;
  }
}
.legendLabel {
    padding-left: 5px !important;
    line-height: 10px;
    padding-right: 10px;
}


/* Chartist chart */
.ct-golden-section:before {
    float: none;
}
.ct-chart {

  max-height: 300px;

  .ct-label {
    fill: #a3afb7;
    color: #a3afb7;
    font-size: 12px;
    line-height: 1;
  }
}
.ct-chart.simple-pie-chart-chartist {
  .ct-label {
    color: @white;
    fill: @white;
    font-size: 16px;
  }
}
.ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice-donut {
    stroke: @primary;
}
.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice-donut {
    stroke: @pink;
}
.ct-chart .ct-series.ct-series-c .ct-bar, .ct-chart .ct-series.ct-series-c .ct-line, .ct-chart .ct-series.ct-series-c .ct-point, .ct-chart .ct-series.ct-series-c .ct-slice-donut {
    stroke: @success;
}
.ct-chart .ct-series.ct-series-d .ct-bar, .ct-chart .ct-series.ct-series-d .ct-line, .ct-chart .ct-series.ct-series-d .ct-point, .ct-chart .ct-series.ct-series-d .ct-slice-donut {
    stroke: @info;
}
.ct-chart .ct-series.ct-series-e .ct-bar, .ct-chart .ct-series.ct-series-e .ct-line, .ct-chart .ct-series.ct-series-e .ct-point, .ct-chart .ct-series.ct-series-e .ct-slice-donut {
    stroke: @lightdark7;
}
.ct-chart .ct-series.ct-series-f .ct-bar, .ct-chart .ct-series.ct-series-f .ct-line, .ct-chart .ct-series.ct-series-f .ct-point, .ct-chart .ct-series.ct-series-f .ct-slice-donut {
    stroke: @purple;
}
.ct-chart .ct-series.ct-series-g .ct-bar, .ct-chart .ct-series.ct-series-g .ct-line, .ct-chart .ct-series.ct-series-g .ct-point, .ct-chart .ct-series.ct-series-g .ct-slice-donut {
    stroke: @warning;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: @primary;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
    fill: @pink;
}
.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
    fill: @success;
}
.ct-series-d .ct-area, .ct-series-d .ct-slice-pie {
    fill: @info;
}


/* Sparkline chart */
.jqstooltip {
  background-color: #36404a !important;
  padding: 5px 10px !important;
  .border-radius(3px);
  border-color: #36404a !important;
}
.jqsfield {
 font-size: 12px !important;
  line-height: 18px !important;
}

/* Circliful charts */
.circliful-chart {
  margin: 0px auto;
}
.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half {
  font-size: 12px;
  font-weight: 600;
}





/* ===========
   Count Down
 =============*/

.home-wrapper {
  margin: 10% 0px;
}

.app-countdown {
  margin-top: 40px;
  text-align: center;

  div {
    display: inline-block;
    span {
      display: block;
      width: 150px;
      &:first-child {
        font-size: 3em;
        font-weight: 700;
        height: 48px;
        line-height: 48px;
      }
      &:last-child {
        color: #333333;
        font-size: 0.9em;
        height: 25px;
        line-height: 25px;
      }
    }
  }
}

.app-countdown > * {
  text-align: center;
}


/* ===========
   Gallery
 =============*/

.portfolioFilter {
  a {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-out;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333333;
    padding: 5px 10px;
    display: inline-block;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: @primary;
      color: @white;
    }
  }
  a.current {
    background-color: @primary;
    color: @white;
  }
}

.thumb {
  background-color: @white;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: @width;
}

.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: @width;
}

.gal-detail {
  h4 {
    margin: 16px auto 10px auto;
    width: 80%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ga-border {
    height: 3px;
    width: 40px;
    background-color: @primary;
    margin: 10px auto;
  }
}

/* ===========
   Maintenance
 =============*/

.icon-main {
  font-size: 60px;
}

.maintenance-page {
  margin: 10% 0%;
}

.home-text {
  letter-spacing: 1px;
}

/* ===========
   Accounts
 =============*/

.wrapper-page {
  margin: 7.5% auto;
  width: 360px;

  .form-control {
    height: 40px;
    padding-left: 40px;
  }
  .form-control-feedback {
    left: 15px;
    top: 3px;
    color: fade(@inverse,40%);
    font-size: 20px;
  }

  .btn-email {
    padding: 9px 20px;
  }
}

.logo-lg {
  font-size: 28px !important;
  color: @primary !important;
}

.user-thumb {
  img {
    height: 88px;
    margin: 0px auto;
    width: 88px;
  }
}

.ex-page-content {
  .svg-box {
    float: right;
  }
}

.message-box {
  margin-top: 120px;
  margin-left: 50px;
  font-weight: 300;

  h1 {
    color: #252932;
    font-size: 98px;
    font-weight: 700;
    line-height: 98px;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
  }

}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
  animation-delay: .2s;
}

#Polygon-3 {
  animation-delay: .4s;
}

#Polygon-4 {
  animation-delay: .6s;
}

#Polygon-5 {
  animation-delay: .8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}






